name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    container:
      # This image has Java, Node, Browsers, and all Linux libs pre-installed
      image: mcr.microsoft.com/playwright/java:v1.57.0-noble # Match your Playwright version

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Tests
        run: ./gradlew test