name: Java CI with Gradle

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin' # You can also use 'oracle' or 'zulu'
          cache: 'gradle'        # Built-in caching for faster runs

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: test